<!DOCTYPE html>
<html>
<head>
</head>
<body>
    <h1>Resultados de la búsqueda para '{{searchTerm}}'</h1>

    <table>
        <tr>
            <th>Email</th>
            <th>Nombre</th>
            <th>Apellidos</th>
            <th>Teléfono</th>
            <th>Dirección</th>
        </tr>
        {{#each results}}
            <tr>
                <td>{{email}}</td>
                <td>{{name}}</td>
                <td>{{Apellidos}}</td>
                <td>{{Telefono}}</td>
                <td>{{Direccion}}</td>
            </tr>
        {{/each}}
    </table>
</body>
</html>
